.footer {
      padding: 50px;
      background: rgb(219, 217, 217);
      color: rgb(24, 19, 19);
    }

    .logo__footer{
      height: 45px;
      width: 90%;
}
.footer__icon{
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.footer__icon:hover{
  transform: scale(1.3);
  transition: 1s;
}

.link:hover {
  color: rgb(72, 162, 221);
  transform: scale(1.1);
  transition: .8s;
  cursor: pointer;
}